@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<script>alert('Название страны уже занесено в базу, попробуйте ввести другое название');
    location.replace("/Countries");
    </script>
<h2 class="text-danger">Название страны уже занесено в базу.</h2>


<div>
    <a asp-action="Index">Back to List</a>
</div>
